body {
    font-family: Arial, sans-serif;
    margin: 4%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100vh;
    background-color: #f0f0f0;
}

.login-container {
    width: 100%;
    max-width: 400px;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label,
.form-group textarea {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
    width: 100%;
}
table {
    margin-top: 5%;
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}
th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f4f4f4;
}
.load-more {
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.load-more:hover {
    background-color: #0056b3;
}
#isAvailable {margin-top: 5px; display: inline-block; font-weight: bold;}
textarea 
{
    resize: none;
    height: 80px;
}
.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.show-btn, .get-info
{
    margin-top: 10px;
    padding: 1% 3%;
    cursor: pointer;
}
.submit-btn:hover {
    background-color: #0056b3;
}