body {
    font-family: Arial, sans-serif;
    margin: 4%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 200px 50px;
    margin-bottom: 1000px;
    background-color: #f0f0f0;
}
.mt{margin-top: 30px;}
.select-box1 {
    margin-bottom: 10px;
}

.select-box2 {
    margin-bottom: 5%;
}

.success-messege {
    color: green;
    font-weight: bold;
}

.del-icon {
    color: white;
    background-color: red;
}

.login-container {
    width: 100%;
    max-width: 400px;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label,
.form-group textarea {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
    width: 95%;
    margin: auto;
}

table {
    margin-top: 5%;
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

th,
td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

.load-more {
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.load-more:hover {
    background-color: #0056b3;
}

#isAvailable {
    margin-top: 5px;
    display: inline-block;
    font-weight: bold;
}

textarea {
    resize: none;
    height: 80px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.show-btn,
.get-info {
    margin-top: 10px;
    padding: 1% 3%;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #0056b3;
}

.table2 {
    width: 50%;
    margin: 20px auto;
    border-collapse: collapse;
}

.table2 td input {
    width: 100%;
}

.table2 th,
td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.icon-td {
    text-align: center;
    cursor: pointer;
}

textarea {
    resize: none;
    font-size: 1;
    margin-top: 1%;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

i {
    font-size: 25px;
    background-color: green;
    padding: 5px;
    color: white;
    border-radius: 50%;
}

.input-with-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-with-icon input {
    padding: 8px;
    font-size: 14px;
    margin-right: 5px;
}

ul {
    list-style-type: square;
    padding: 10px;
}

li {
    font-size: 18px;
    margin: 10px 0;
}

.bg {
    background-color: rgb(16, 99, 167);
    color: white;
}

.search-container {
    margin-bottom: 10px;
}

.search-input {
    margin-top: 5%;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th,
td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

.login-container2 {
    margin-top: 4%;
    background-color: #ffffff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 300px;
}

.error-text {
    color: rgb(221, 30, 30);
    font-weight: bolder;
}

.login-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333333;
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #333333;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.login-button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #0056b3;
}

.table-container {
    margin: 20px auto;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
}

.table-container thead th {
    background-color: #1464a5;
    color: white;
}

.table-container th,
td {
    text-align: center;
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
}

.table-container tbody tr:hover {
    background-color: #f1f1f1;
}

.table-container input [type="checkbox"] {
    transform: scale(1.2);
    cursor: pointer;
}

.full-width-btn {
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #ff4d4d;
    border: none;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

.full-width-btn:hover {
    background-color: #e63939;
}

.box {
    width: 350px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    border-radius: 8px;
}

.box-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.box-text {
    font-size: 1rem;
    color: #555;
    margin-bottom: 15px;
    text-align: justify;
}

.see-more {
    color: red;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.see-more:hover {
    text-decoration: underline;
}

.outer-box {
    display: flex;
    align-items: center;
    width: 100%;
    height: 30px;
    background-color: rgba(167, 156, 156, 0.596);
    margin: 3% 0;
    border-radius: 8px;
    transition: all ease-out 5s;
}

.download-btn {
    display: inline-block;
    background-color: #5fa7c4;
    color: white;
    text-decoration: none;
    padding: 12px 24px;
    margin-bottom: 3%;
    cursor: pointer;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.2s;
}

.download-btn:hover {
    background-color: #00bfff;
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

.download-btn:active {
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}


.inner-box {
    width: 0;
    height: 30px;
    background-color: rgb(76, 146, 173);
    margin: 3% 0;
    border-radius: 8px;
}
.switch{
    width: 200px;
    height: 60px;
    background-color: white;
    margin-bottom: 3%;
    border-radius: 100px;
    position: relative;
    border: 10px solid rgba(139, 137, 137, 0.507);
    transition: all 1s ease-in;
}
.switch-inner{
    width: 30%;
    position: absolute;
    /* left: 70%; */
    left: 0;
    height: 60px;
    background-color: rgb(223, 217, 217);
    border-radius: 50%;
    box-shadow: inset 10px 0 40px rgba(51, 50, 50, 0.5);
    transition: all 1s ease-in;
}

.check-box{
    margin-bottom: 3%;
}

.model{
    border: 5px groove rgb(47, 96, 160);
    padding: 20px;
    margin-right: 60px;
    background-color:rgb(17, 103, 138);
    color: white;
}
.box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 4%;
}
.price-range
{
    background-color: teal;
    color: white;
    padding: 20px 15px;
}
.price-range ~ p{
    text-align: center;
}
.price-range ~ p input{
    cursor: pointer;   
}